* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

body {
  font-family:
    Inter,
    "Segoe UI",
    Arial,
    sans-serif;

  background: #120b05;
  color: #f7ead0;

  overflow-x: hidden;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}